<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840883737418-7s7o1ne48a1j9o8s0jaeukkcr7nudosb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840883737418-7s7o1ne48a1j9o8s0jaeukkcr7nudosb</string>
	<key>API_KEY</key>
	<string>AIzaSyCRT4z3Qt9764RSSx0gRVzgJ3vn1YFjgUM</string>
	<key>GCM_SENDER_ID</key>
	<string>840883737418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icung.DailyThoughts</string>
	<key>PROJECT_ID</key>
	<string>bone-b0be9</string>
	<key>STORAGE_BUCKET</key>
	<string>bone-b0be9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840883737418:ios:13e11e04399b06c26127b3</string>
	<key>DATABASE_URL</key>
	<string>https://bone-b0be9.firebaseio.com</string>
</dict>
</plist>